In [1]:
'''
question 1:

Q1. Create one variable containing following type of data: 
(i) string 
(ii) list 
(iii) float 
(iv) tuple 

'''

'\nquestion 1:\n\nQ1. Create one variable containing following type of data: \n(i) string \n(ii) list \n(iii) float \n(iv) tuple \n\n'

In [2]:
name = 'pwskills'
decimal = 99.9999
score_sheet = [100, 'skills', 100.99, (23,89)]
co_ordinate = (65, 87)

In [ ]:
'''
question 2:

Q2. Given are some following variables containing data: 
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1

'''

In [8]:
#1
var1 = ' '
print(f"var1 is {type(var1)}")
#2
var2 = '[DS , ML, Python]'
print(f"var2 is {type(var2)}")
#3
var3 = ['DS' , 'ML', 'Python']
print(f"var3 is {type(var3)}")
#4
var4 = 1
print(f"var4 is {type(var4)}")

var1 is <class 'str'>
var2 is <class 'str'>
var3 is <class 'list'>
var4 is <class 'int'>

In [ ]:
'''
Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) ** 

'''

In [9]:
#1
# used for division and the outcome is in decimal form.
4/5

0.8

In [11]:
#2
# known as modulo operator used for getting the remainder

20%3

2

In [12]:
#3
# used for division (also called floor division) used for getting the outcome as integer with decimals.

5//2

2

In [13]:
#4
# exponent operator used for get the power of some number
2 ** 3

8

In [ ]:
'''
Q4. Create a list of length 10 of your 
choice containing multiple types of data.
Using for loop print the  element and its data type. 
'''

In [17]:
big_list = ['yuvraj', 1000, 101.999, 'pwskills', ['new',1], (1,2), 'class', 'top', 23883 , 2]
for i in big_list:
    print(f"the element is {i} and it's datatype is {type(i)}\n")

the element is yuvraj and it's datatype is <class 'str'>

the element is 1000 and it's datatype is <class 'int'>

the element is 101.999 and it's datatype is <class 'float'>

the element is pwskills and it's datatype is <class 'str'>

the element is ['new', 1] and it's datatype is <class 'list'>

the element is (1, 2) and it's datatype is <class 'tuple'>

the element is class and it's datatype is <class 'str'>

the element is top and it's datatype is <class 'str'>

the element is 23883 and it's datatype is <class 'int'>

the element is 2 and it's datatype is <class 'int'>

In [ ]:
'''
Q5. Using a while loop, verify if the number A is purely divisible by
number B and if so then how many  times it can be divisible. 
'''

In [32]:
A = int(input('Enter number A: '))
B = int(input('Enter number B: '))
count = 0
while A % B==0:
    count += 1
    A = A//B

    
    
print(f"it is divisible {count} times")

Enter number A: 3
Enter number B: 3
it is divisible 1 times

In [25]:
'''
Q6. Create a list containing 25 int type data. Using for loop and
if-else condition print if the element is  divisible by 3 or not. 
'''

'\nQ6. Create a list containing 25 int type data. Using for loop and\nif-else condition print if the element is  divisible by 3 or not. \n'

In [33]:
int_data = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in int_data:
    if i % 3 ==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
'''
Q7. What do you understand about mutable and immutable data types?
Give examples for both showing  this property. 

'''

### mutable
data types which can be modified or values can be changed are called mutable ex: list, set, dict

In [35]:
name = ['pwskills', 'top']
name[0] = 'PWSKILLS'
print(name)

['PWSKILLS', 'top']

### immutable

datatypes which can be modified or changed are immutable ex: str, int, tuple

In [37]:
name = ('pwskills', 'top')
name[0] = 'PWSKILLS'

TypeError: 'tuple' object does not support item assignment