```Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})```

In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

**Q1. Write a code to print the data present in the second row of the dataframe, df.**

In [5]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

**Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?**

The loc and iloc functions in pandas.DataFrame are used for selection and indexing:

- loc is label-based, meaning that you use the actual row and column labels to make selections.
- iloc is integer position-based, meaning that you use the integer position of the rows and columns to make selections.

In summary, loc is used for selection based on labels, while iloc is used for selection based on integer position.

**Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].**

In [6]:
# Reindexing the DataFrame
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Accessing data using loc and iloc
output_loc = new_df.loc[2]
output_iloc = new_df.iloc[2]

print(output_loc)
print(output_iloc)

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

as loc gives a label position so the index name with 2 will be printed while iloc gives the index position so the index with postion 2 will be printed

```Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)```

In [7]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.433820  0.129431  0.383271  0.574533  0.232094  0.483107
2  0.554849  0.688997  0.710831  0.132262  0.704151  0.179510
3  0.610904  0.537385  0.540710  0.965825  0.649510  0.699405
4  0.513897  0.214160  0.873762  0.492517  0.326195  0.154371
5  0.753368  0.542494  0.676661  0.556972  0.079481  0.064015
6  0.906887  0.434579  0.556670  0.558551  0.445015  0.805829

**Q4. Write a code to find the following statistical measurements for the above dataframe df1:**
1. mean of each and every column present in the dataframe.
2. standard deviation of column, ‘column_2’

In [9]:
df1.mean()

column_1    0.628954
column_2    0.424508
column_3    0.623651
column_4    0.546777
column_5    0.406074
column_6    0.397706
dtype: float64

In [10]:
df1['column_2'].std()

0.21355777958351

**Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.<br>
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]**

In [13]:
string_data = ['Ravi','mohan','raj','meena','rancho','raju']
df1.loc[:, 'column_2'] = string_data

In [14]:
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.433820     Ravi  0.383271  0.574533  0.232094  0.483107
2  0.554849    mohan  0.710831  0.132262  0.704151  0.179510
3  0.610904      raj  0.540710  0.965825  0.649510  0.699405
4  0.513897    meena  0.873762  0.492517  0.326195  0.154371
5  0.753368   rancho  0.676661  0.556972  0.079481  0.064015
6  0.906887     raju  0.556670  0.558551  0.445015  0.805829

In [15]:
df1['column_2'].mean()

TypeError: Could not convert Ravimohanrajmeenaranchoraju to numeric

If you replace the data in the second row of 'column_2' with a string variable, you will likely encounter an error when trying to find the mean of 'column_2'. This is because the mean function cannot calculate the mean of string data.

**Q6. What do you understand about the windows function in pandas and list the types of windows
functions?**

In pandas, the "window" functions are used to perform calculations over a specified window of data. These functions are typically used for tasks such as calculating moving averages, cumulative sums, and other rolling or expanding calculations.

The types of window functions in pandas include:
1. Rolling Window Functions: These functions operate on a rolling window of data defined by a window size and perform calculations such as mean, sum, standard deviation, etc. Examples include rolling.mean(), rolling.sum(), and rolling.std().
2. Expanding Window Functions: These functions calculate statistics for an expanding window of data, starting from the beginning of the series and growing with each new observation. Examples include expanding.mean(), expanding.sum(), and expanding.std().
3. Exponentially Weighted Window Functions: These functions apply exponentially decreasing weights over the window of data. Examples include ewm.mean(), ewm.var(), and ewm.std()

**Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]**

In [16]:
import pandas as pd

current_date = pd.Timestamp.now()
print("Current month:", current_date.month)
print("Current year:", current_date.year)

Current month: 12
Current year: 2023

**Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.**

In [18]:
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert input dates to pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference
time_diff = date2 - date1

# Display the result
print("Difference in days:", time_diff.days)
print("Difference in hours:", time_diff.components.hours)
print("Difference in minutes:", time_diff.components.minutes)

Enter the first date (YYYY-MM-DD): 1997-04-11
Enter the second date (YYYY-MM-DD): 2023-04-11
Difference in days: 9496
Difference in hours: 0
Difference in minutes: 0

**Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.**

In [ ]:
import pandas as pd

# Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical data type: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

# Read the CSV file
df = pd.read_csv(file_path)

# Convert the specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Display the sorted data
sorted_data = df.sort_values(by=column_name)
print(sorted_data)

**Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Assuming the DataFrame has columns 'Date', 'Product_Category', and 'Sales'
# Convert 'Date' to datetime if it's not already in datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Create a stacked bar chart to visualize the sales of each product category over time
pivot_df = df.pivot(index='Date', columns='Product_Category', values='Sales')
pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
plt.title('Sales of Each Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.show()

```Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.```

In [ ]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()

# Display the mean, median, and mode in a table
result_table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_score))]
})
print(result_table)