**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [1]:
import pandas as pd

In [2]:
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [4]:
data = [7,8,5,16,3,2,4,2,1,1]
series = pd.Series(data)
print(series)

0     7
1     8
2     5
3    16
4     3
5     2
6     4
7     2
8     1
9     1
dtype: int64

**Q3. Create a Pandas DataFrame that contains the following data:**

In [5]:
data = {
    'name': ['Alice', 'bob', 'Clare'],
    'age':[25,30,27],
    'Gender':['Female', 'Male', 'Female']
}

In [6]:
dataframe = pd.DataFrame(data)
print(dataframe)

    name  age  Gender
0  Alice   25  Female
1    bob   30    Male
2  Clare   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table.

On the other hand, a pandas Series is a one-dimensional labeled array capable of holding any data type. It can be seen as a single column of a DataFrame.

In [7]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [8]:
# Creating a Series
ages = pd.Series([25, 30, 35], name='Age')
print(ages)

0    25
1    30
2    35
Name: Age, dtype: int64

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

Some common functions to manipulate data in a Pandas DataFrame include:

1. head() - to view the first few rows of the DataFrame.
2. tail() - to view the last few rows of the DataFrame.
3. info() - to get a concise summary of the DataFrame.
4. describe() - to generate descriptive statistics of the DataFrame.
5. drop() - to drop specified labels from rows or columns.
6. groupby() - to group data based on some criteria.

For example, you might use the groupby() function to group data in a DataFrame by a particular column and then perform aggregate functions on the grouped data, such as finding the mean, sum, or count of each group. This is useful for analyzing data based on different categories or groups.

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

In pandas,  Series , DataFrame and panel are mutable, meaning their values can be changed after creation.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

In [9]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])

# Creating a DataFrame using the Series
data = {'Name': names, 'Age': ages}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35